*{
  box-sizing: border-box;
}
header{
  border-bottom: 3px solid lightgrey;
  height: 130px;
}
img{
  display: block;
  width:300px;
  margin: 20px auto;
}
header a{
  float: right;
}
.form {
  margin: 30px auto;
  width: 500px;
  border: 3px solid lightgrey;
  border-radius: 10px;
  box-shadow: 3px 3px #eee;
  padding: 15px 30px;
}
.form h2{
  border-bottom:3px solid teal ;
  text-align: center;
}
.form .submit{
  color: white;
  border: 0;
  box-shadow: 0px 3px grey;
  border-radius: 4px;
  background-color: #00aa00;
  display: block;
  margin:0 auto;
  padding: 5px 60px;

}
footer{
  position: absolute;
  bottom: 0px;
  width: 99%;
  text-align: center;
  border-top: 3px solid lightgrey;
  height: 50px;
  line-height: 50px;
}
.form img{
  float: left;
  width: 150px;
}
.form .right{
  float: left;
}
.form .comments{
  clear: both;
  border-top: 2px solid #eee;
  padding-top: 15px;
  padding-bottom: 15px;
}
.form p{
  margin-left: 20px;
}